<div class="row valign-wrapper" style="height:100%">
    <div class="col s2 offset-s5 valign">
        <progress-bar *ngIf="twitter_friends.length === 0"></progress-bar>
    </div>
</div>
<ul class="s6 collapsible popout" data-collapsible="accordion">
    <li *ngFor="let twitter_friend of twitter_friends">
        <friend [friend]="twitter_friend" class="collapsible-header" (click)="tweets.load()"></friend>
        <tweets #tweets [friendId]="twitter_friend.id" class="collapsible-body"></tweets>
    </li>
</ul>